:root {
  --background-color: #eeeeee;
  --primary-color: #222831;
  --secondary-color: #393e46;
  --accent-color: #00adb5;
  --text-color: #eeeeee;
}

.main {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
