:root {
  --background-color: #eeeeee;
  --primary-color: #222831;
  --secondary-color: #393e46;
  --accent-color: #00adb5;
  --text-color: #eeeeee;
}

.cards {
  min-width: 400px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cards-header {
  font-weight: bold;
  font-size: 18px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  height: 35px;
}

.fa-icon {
  background-color: var(--primary-color);
}
